@model Filipan_Dănuț_Proiect.Models.ShopViewModels.ViewModel.ProviderIndexData
@{
    ViewData["Title"] = "Providers";
}
<h2>Providers</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Provider Name</th>
            <th>Site</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Providers)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["ProviderID"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            

            <td>
                @{
                    foreach (var drink in item.ProvidedDrinks)
                    {
                        @drink.Drink.ID @: @drink.Drink.Name <br />
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>